body, html {
  height: 100%; 
  background: rgb(79, 4, 6);
  text-align: center;
}
.bg {
  background-image:url("../img/pizza.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(79, 4, 6);
}
#pizza {
  position: absolute;
  margin-left: 25%;
  width: 40%;
  padding: 1px;
  color: white;
}
.pizzaSize {
  color: white;
  font-size: 15px;
  padding: 10px;
  border: solid rgb(79, 4, 6) 5px;
}
.pizzaTopping {
  color: white;
  margin-top:10px;
  padding: 10px;
  border: solid rgb(79, 4, 6) 5px;
}
h1 {
  color:rgb(239, 27, 27);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
h2 {
  color:blue;
  text-align: left;
  margin-top:10px;
  font-size: 25px;
}
h3 {
  color:rgb(215, 234, 94);
  text-align: left;
  margin-top:10px;
  font-size: 20px;
}
#output {
  color: rgba(167, 237, 126, 0.702);
  font-weight: bold;
  font-size: 35px;
  margin: 30%;
  width: 65%;
  padding: 56px;
  
} 

.btn {
  margin-top:15px;
  background-color: yellow;
  color: rgb(16, 16, 16);
  padding: 2px;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 15px;
  font-weight: bold;
}

#blinking {
  animation: opacity 2s ease-in-out infinite;
    opacity: 1;
    color: rgb(60, 210, 87);  
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

